<div ng-app="greenbaseball">
    <div>
        <div class="btn-group">
            <label class="btn btn-primary" btn-radio="Home"><a style="color: white" ui-sref=".homepage">Home</a></label>
            <label class="btn btn-primary" btn-radio="Login"><a style="color: white" ui-sref=".login">Login</a></label>
        </div>
    </div>
        <div ui-view>
        </div>
    </div>


